main {
    width: 100vw;
    height: 100vh;
}

#background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
}

#sidebar {
    background-color: #141414e0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 3vw;
    justify-content: center;
    top: 30%;
    position: relative;
    align-items: center;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    z-index: 10;
    border: .1px solid black;
}

.application {
    width: 2vw;
    cursor: pointer;
    transition: 1s;
    padding-bottom: 2px;
    z-index: 15;
}

.application:hover {
    transition: .5s;
    transform:translateX(5px);
}

#taskbar {
    background-color: #141414f3;
    width: 100vw;
    height: 40px;
    z-index: 10;
    position: relative;
    top: 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.apps {
    position: relative;
    left: 10%;
    top: -20%;
}